body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
}
.container{
    background-color: white;
    margin: 30px 80px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #ADC4CE;
    
}
.header img{
    width: 200px;
    /* margin-left: 65px; */
    
}
.header h1 {
    font-size: 90px;
    font-weight: 700;
    color: white;
    font-style: italic;
    margin-bottom: 52px;
    margin-left: 10px;
    
}
.content{
    display: flex;
    flex-direction: row;
    
}
.lorem{
    margin-right: 20px;
    margin-left: 25px;
}
.lorem h1 {
    margin-top: 50px;
}
.nav{
    
}
.nav-element {
    width: 230px;
}
.paraghraph{
    margin-left: 20px;
    width: 210px;
    text-align: justify;
    color: gray;
    font-size: 14px;
}
.list-item{
    list-style-type: none;
    padding: 0;
}
.list-item li {
    border-bottom: 1px solid gray;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-bottom: 5px;
    
}
.list-item li a {
    text-decoration: none;
    color: gray;
    margin-left: 20px;
}
.footer{
    background-color: #ADC4CE;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    border-bottom-right-radius: 15px ;
    border-bottom-left-radius: 15px ;
}